// Base styles
html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
}

p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.wrapper {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

h1 {
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  padding: 8px 16px;
  border: none;
  text-transform: uppercase;

  &.primary {
    background-color: $colour-accent;
    color: $colour-text-white;
  }
}
