// Base styles
html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  position: relative;

  &.overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: $colour-text;
    top: 0;
    left: 0;
  }
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3.2rem;
  margin-bottom: 24px;
  text-transform: uppercase;
}

h5 {
  font-size: 2.5rem;
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

a.btn,
.btn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s;
  letter-spacing: 1px;
  width: fit-content;

  &:not(.icon) {
    padding: 8px 16px;
    height: 40px;
  }

  &.primary {
    background-color: $colour-accent;
    color: $colour-text-white;

    &:hover:not(:disabled) {
      background-color: transparent;
      color: $colour-accent;
      border: 2px solid $colour-accent;
    }
  }

  &:disabled {
    background-color: transparent;
    border: 2px solid $colour-grey-dark;
    color: $colour-grey-dark;
    pointer-events: none;
  }

  &.text {
    padding: 8px 0px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: capitalize;
    color: $colour-text;
    font-size: 1.4rem;

    &:hover {
      color: $colour-accent;
    }
  }

  &.icon {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: unset;
      border-radius: 0px;
      height: 24px;
      width: 24px;

      &:hover {
        filter: brightness(0) saturate(100%) invert(51%) sepia(17%)
          saturate(1480%) hue-rotate(337deg) brightness(104%) contrast(94%);
      }
    }
  }

  &.secondary {
    background-color: $colour-background;
    color: $colour-text-white;

    &:hover {
      border: 2px solid $colour-background;
      background-color: transparent;
      color: $colour-background;
    }
  }

  &.secondary-outline {
    border: 2px solid $colour-background;

    &:hover {
      background-color: $colour-background;
      color: $colour-text-white;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

p {
  color: $colour-text;
  line-height: 2.4rem;
}

section {
  padding: 64px 0px;
}

.flex-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
}
