// Base styles
html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
}

p,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3.2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

button {
  background-color: transparent;
  padding: 8px 16px;
  border: none;
  text-transform: uppercase;
  height: 40px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s;
  letter-spacing: 1px;

  &.primary {
    background-color: $colour-accent;
    color: $colour-text-white;

    &:hover {
      background-color: transparent;
      color: $colour-accent;
      border: 2px solid $colour-accent;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

p {
  color: $colour-text;
  line-height: 2.4rem;
}

section {
  padding: 64px 0px;
}
