@import "../../styles/colors";
@import "../Header.module.scss";

.productContainer {
  .productList {
    &.otherFeaturedProducts {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .productItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    &.otherFeaturedProducts {
      margin-bottom: 64px;

      button {
        margin-top: 16px;
      }

      h2 {
        text-transform: uppercase;
      }

      .productInfoContainer {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        padding: 64px;
      }
    }

    &.otherFeaturedProducts:not(:nth-of-type(3)) {
      .productImage {
        height: 100%;
      }

      h2 {
        font-size: 3rem;
      }
    }

    &.otherFeaturedProducts:nth-of-type(3) {
      position: relative;
      background-color: $colour-accent;
      height: 520px;
      justify-content: space-evenly;
      border-radius: 8px;

      .productInfoContainer {
        width: 50ch;
        color: $colour-text-white;
      }

      h2 {
        font-size: 5rem;
        letter-spacing: 8px;
      }

      .productImage {
        height: 450px;
        object-fit: contain;
        bottom: 0px;
        position: relative;
        align-self: flex-end;
        bottom: -8px;
      }
    }

    &.otherFeaturedProducts:nth-of-type(2) {
      .productInfoContainer {
        position: absolute;
      }

      .productImage {
        width: 100%;
      }
    }

    &.otherFeaturedProducts:nth-of-type(1) {
      gap: 32px;
      margin-bottom: 0px;

      .productInfoContainer {
        background-color: $colour-grey;
        height: 100%;
        border-radius: 4px;
        padding: 64px;
        align-self: stretch;
        height: inherit;
        border-radius: 8px;
      }
    }
  }

  .productItem:not(.secondary):nth-child(odd) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .productInfo {
    width: 45%;

    .productPrice {
      color: $colour-background;
      font-weight: 500;
    }
  }

  .productImage {
    height: 520px;
    object-fit: cover;
    width: 50%;
  }

  .productTag {
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-bottom: 16px;
    color: $colour-accent;
    font-size: 1.4rem;

    &.secondary {
      color: $colour-text-light;
    }
  }

  .productName {
    font-weight: 600;
    width: 13ch;

    &.secondary {
      line-height: 5.5rem;
      font-size: 5.5rem;
    }
  }

  .productDescription {
    color: $colour-text;
    margin: 16px 0px 24px 0px;

    &.secondary {
      color: $colour-text-light;
    }
  }

  .flexContainer {
    display: flex;
    gap: 64px;
  }

  .productInfo .flexContainer {
    align-items: center;
    margin-top: 24px;
    gap: 24px;
  }

  .featuresContainer {
    width: 65%;
  }

  .boxContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .productFeatures {
    white-space: pre-wrap;
  }

  .quantity {
    color: $colour-accent;
    font-weight: 600;
    margin-right: 16px;
  }

  .item {
    display: inline;
  }
}

.imageContainer {
  display: grid;
  grid-template-areas:
    "a c"
    "b c";
  gap: 24px;

  img {
    width: 100%;
  }

  img:nth-of-type(1) {
    grid-area: a;
  }

  img:nth-of-type(2) {
    grid-area: b;
    align-self: end;
  }

  img:nth-of-type(3) {
    grid-area: c;
    align-self: stretch;
    object-fit: cover;
  }
}

.relatedProductsSection {
  text-align: center;

  .relatedProductsList {
    justify-content: space-between;
  }

  .itemName {
    margin: 24px 0px;
  }

  h4 {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 1000px) {
  .productContainer {
    .productItem:not(.secondary):nth-child(odd),
    .productItem {
      flex-direction: column-reverse;
      gap: 36px;
    }

    .productItem {
      &.otherFeaturedProducts {
        justify-content: space-around;
        gap: unset;
        text-align: center;
        height: fit-content;

        &:nth-child(1) {
          gap: 64px;
        }

        .productInfoContainer {
          width: 100%;
          align-items: center;
        }

        &:nth-of-type(1) .productInfoContainer,
        &:not(:nth-of-type(3)) .productImage {
          object-fit: cover;
          height: 350px;
        }

        &:nth-of-type(3) {
          justify-content: space-evenly;
          gap: unset;

          .productInfoContainer {
            width: 100%;
            padding: 0px;
          }

          .productImage {
            object-fit: contain;
            height: 200px;
            bottom: 0px;
          }

          .productInfoContainer {
            width: 90%;
          }
        }
      }
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .productImage {
      height: 350px;
      object-fit: contain;
    }

    .productImage,
    .productInfo {
      width: 100%;
    }

    :global(.features) {
      flex-direction: column;
      align-items: center;

      .featuresContainer {
        text-align: center;
        width: 100%;
      }
    }
  }

  .relatedProductsSection {
    .relatedProductsList {
      flex-direction: column;

      li {
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .productContainer {
    .productName {
      &.secondary {
        font-size: 4.5rem;
      }
    }
  }
}
