@import "../../styles/colors";

.productContainer {
  .productList {
    margin-bottom: 24px;
  }

  .productItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  .productItem:not(.secondary):nth-child(odd) {
    flex-direction: row-reverse;
  }

  .productInfo {
    width: 45%;

    .productPrice {
      color: $colour-background;
      font-weight: 500;
    }
  }

  .productImage {
    height: 520px;
    width: 500px;
    object-fit: cover;
    width: 50%;
  }

  .productTag {
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-bottom: 16px;
    color: $colour-accent;
    font-size: 1.4rem;

    &.secondary {
      color: $colour-text-light;
    }
  }

  .productName {
    font-weight: 600;
    max-width: 13ch;

    &.secondary {
      line-height: 5.5rem;
      font-size: 5.5rem;
    }
  }

  .productDescription {
    color: $colour-text;
    margin: 16px 0px 24px 0px;

    &.secondary {
      color: $colour-text-light;
    }
  }

  // .productImage {
  //   width: 50%;
  //   object-fit: cover;
  // }

  .flexContainer {
    display: flex;
    gap: 72px;
  }

  .productInfo .flexContainer {
    align-items: center;
    margin-top: 24px;
    gap: 24px;
  }

  .featuresContainer {
    width: 65%;
  }

  .boxContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .productFeatures {
    white-space: pre-wrap;
  }

  .quantity {
    color: $colour-accent;
    font-weight: 600;
    margin-right: 16px;
  }

  .item {
    display: inline;
  }

  .imageContainer {
    display: grid;
    grid-template-areas:
      "a c"
      "b c";
    gap: 24px;

    img {
      width: 100%;
    }

    img:nth-of-type(1) {
      grid-area: a;
    }

    img:nth-of-type(2) {
      grid-area: b;
    }

    img:nth-of-type(3) {
      grid-area: c;
    }
  }
}

.relatedProductsSection {
  text-align: center;

  .relatedProductsList {
    justify-content: space-between;
  }

  .itemName {
    margin: 24px 0px;
  }

  h4 {
    margin-bottom: 64px;
  }
}
