@import "../styles/colors";

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  .heading {
    text-transform: uppercase;
    width: 24ch;
    margin-bottom: 24px;
  }
}

span {
  color: $colour-accent;
}
