@import "../styles/colors";

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  .heading {
    width: 24ch;
  }

  .accentShading {
    color: $colour-accent;
  }

  .infoContainer {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .aboutContainer {
    flex-direction: column-reverse;
    text-align: center;

    .infoContainer,
    .heading {
      width: 100%;
    }
  }
}
