@import "../styles/colors";

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  .heading {
    width: 24ch;
  }

  .accentShading {
    color: $colour-accent;
  }
}
