@import "../styles/colors";

.footer {
  background-color: $colour-background;
  padding-bottom: 32px;
  color: $colour-text-light;

  .flexContainer {
    display: grid;
    grid-template-areas:
      "a c"
      "b c";
  }

  .footerContent {
    grid-area: a;
    color: $colour-text-light;
    width: 650px;
    margin-bottom: 24px;
  }

  .copyright {
    grid-area: b;
    color: $colour-text-light;
  }

  .footerSocials {
    grid-area: c;
  }

  .footerSocials {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .flexContainer {
      display: grid;
      grid-template-areas:
        "a a"
        "b c";
      align-items: center;
    }

    .footerContent {
      grid-area: a;
    }

    .copyright {
      grid-area: b;
    }

    .footerSocials {
      grid-area: c;
    }
  }
}
