@import "../styles/colors";

.footer {
  background-color: $colour-background;
  color: $colour-text-light;
  margin-top: 72px;

  .flexContainer {
    display: grid;
    padding: 32px 0px;
    align-items: center;
    grid-template-areas:
      "1 2"
      "a c"
      "b c";
  }

  .footerContent {
    grid-area: a;
    color: $colour-text-light;
    width: 650px;
    margin-bottom: 24px;
    margin: 16px 0px 24px 0px;
  }

  .copyright {
    grid-area: b;
    color: $colour-text-light;
  }

  .footerSocials {
    grid-area: c;
  }

  .footerSocials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .flexContainer {
      display: grid;
      grid-template-areas:
        "1 2"
        "a a"
        "b c";
      align-items: center;
    }

    .footerContent {
      grid-area: a;
    }

    .copyright {
      grid-area: b;
    }

    .footerSocials {
      grid-area: c;
    }
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    .flexContainer {
      grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d e";
      gap: 24px;
    }

    h1 {
      grid-area: a;
    }

    nav {
      grid-area: b;
    }

    .footerContent {
      grid-area: c;
    }

    .copyright {
      grid-area: d;
    }

    .footerSocials {
      grid-area: e;
    }

    .footerContent {
      width: 100%;
    }
  }
}

@media screen and (max-width: 430px) {
  .footer {
    .flexContainer {
      display: flex;
      flex-direction: column;
    }

    .footerContent {
      text-align: center;
    }
  }
}
