@import "../styles/colors";

header {
  position: relative;
  color: $colour-text-white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 639px;
  background-color: $colour-background;
  height: 600px;

  &::after {
    animation: fadeIn 4s;
    content: "";
    background-color: $colour-background;
    position: absolute;
    background-image: url("../../public/starter-code/assets/home/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
  }

  div {
    z-index: 10;
    animation: wait 700ms, fadeIn 4s 700ms;
  }

  .productContainer .productInfo {
    width: 400px;
  }
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  header {
    &::after {
      background-image: url("../../public/starter-code/assets/home/tablet/image-header.jpg");
      background-size: contain;
      background-position: bottom;
      top: -80px;
    }

    .productContainer {
      text-align: center;

      .productItem {
        justify-content: center;
      }

      .productInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
