@import "../styles/colors";

.pageHeading {
  text-transform: uppercase;
  background-color: $colour-background;
  color: $colour-text-white;
  padding: 72px 0px;
  text-align: center;
  margin-bottom: 64px;
}
