@import "../styles/colors";

.productContainer {
  .productList {
    margin-bottom: 24px;
  }

  .productItem {
    margin: 80px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .productItem:not(.secondary):nth-child(odd) {
    flex-direction: row-reverse;
  }

  .productInfo {
    width: 450px;
  }

  .productTag {
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-bottom: 16px;
    color: $colour-accent;
    font-size: 1.4rem;

    &.secondary {
      color: $colour-text-light;
    }
  }

  .productName {
    font-weight: 600;
    max-width: 13ch;

    &.secondary {
      line-height: 5.5rem;
      font-size: 5.5rem;
    }
  }

  .productDescription {
    color: $colour-text;
    margin: 16px 0px 24px 0px;

    &.secondary {
      color: $colour-text-light;
    }
  }

  .productImage {
    height: 550px;
  }
}
