@import "../styles/colors";

.quantitySelector {
  display: flex;
  align-items: center;
  background-color: $colour-grey;

  button {
    color: $colour-text;
    font-weight: 700;

    &:hover {
      color: $colour-accent;
      background-color: $colour-light-grey;
    }
  }

  .quantity {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colour-background;
    font-weight: 700;
  }

  &.cartSelector {
    button {
      padding: 0px;
      height: 30px;
      width: 30px;
      font-weight: 500;
    }

    .quantity {
      height: 30px;
      width: 30px;
      font-size: 1.2rem;
    }
  }
}
